/* GENERAL */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Lexend", sans-serif;
	font-weight: 400;
	color: #ffefef;
}

body {
	background-color: #0f0606;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	/* margin: auto; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40rem;
	height: 60vh;
	background-color: #490000;
}

#message {
	font-size: 3.6rem;
}

#progress-bar {
	width: 100%;
	background-color: grey;
}
#my-progress {
	width: 0%;
	height: 1.8rem;
	background-color: green;
	/* transition: width 1s; */
	transition-timing-function: linear;
}

.notransition {
	transition: none !important;
}

#timer {
	font-size: 5rem;
	transition: all 0.2s;
}

.blink {
	transform: scale(1.2);
	color: orangered;
}
.blink-last {
	transform: scale(1.5);
	color: red;
}

.center {
	text-align: center;
}

.margin--medium {
	margin: 2rem 0 1rem 0;
}

#button {
	margin: 0 2rem;
}
